---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div id="trigger"></div>
<!-- begin header -->
<div class="header">
	<div class="container">
		<a href="#">Mac</a>
		<a href="#">Ipad</a>
		<a href="#">iMac</a>
	</div>
</div>
<!-- end header -->

<!-- begin subheader -->
<div class="subheader">
	<div class="container">
		<div class="subheader__logo">iPhone X</div>
		<div class="subheader__nav">
			<nav>
				<a href="#">Overview</a> 
				<a href="#">iOS</a> 
				<a href="#">Tech</a> 
				<a href="#">Specs</a> 
			</nav>
			<a href="#" class="button">Models and Pricing</a>
		</div>
	</div>
</div>
<!-- end subheader -->

<!-- begin section -->
<section class="section">
	<div class="animation">
		<div class="iphone">
			<div class="iphone__video">
				<video autoplay loop muted src="video/video.mp4"></video>
			</div>
			<div class="iphone__frame">
				
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- begin next -->
<div class="next">
	<h1>iPhone X</h1>
	<p>Our vision has always been to create an iPhone that is entirely screen. One so immersive the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. With iPhone X, that vision is now a reality. Say hello to the future.</p>
</div>
<!-- end next -->

<!-- begin next -->
<div class="next next_gray">
	<h1>iPhone X</h1>
	<p>Our vision has always been to create an iPhone that is entirely screen. One so immersive the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. With iPhone X, that vision is now a reality. Say hello to the future.</p>
</div>
<!-- end next -->



{% endblock %}
